*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
img {
  width: 50%;
  margin-top: 220px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 37px;
}
section {
  display: block;
}
section p {
  margin-right: 25px;
  margin-left: 25px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.8em;
  text-align: center;
}
.coloridin {
  background-image: linear-gradient(to left, #c75a39, #c812b2);
  color: transparent;
  background-clip: text;
}
button {
  background: #0195f7;
  color: #fff;
  font-family: sans-serif;
  width: 75%;
  font-size: 1.1em;
  margin-top: 4vh;
  border-radius: 10px;
  height: 5vh;
  margin-left: 12.5%;
}
section h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 25px;
}
section h1 a{
    text-decoration: none;
    color: #2A86C7;
}
